.space {
    margin-top: 1em;
}

footer {
    margin: 0;
}

.ng-valid[required] {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
    border-left: 5px solid #a94442; /* red */
}

div.week {
    width: 70%;
    margin: 0 auto 1em auto;
    display: block;
}
div.week-text {
    font-size: x-large;
}
